<nav class="navbar navbar-light bg-light navbar-expand-lg">

    <a (click)="onNavigateHome()" class="navbar-brand">Omega Strength</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="home nav-link" id="home" (click)="onNavigateHome()" 
                    routerLinkActive="active-link">
                    <span class="material-icons">home</span>Homepage</a>
            </li>
            <li class="nav-item" *ngIf="isAuthenticated">
                <a class="today nav-link" (click)="onNavigateToToday()"
                    routerLinkActive="active-link">
                    <span class="material-icons">today</span>Today</a>
            </li>
            <li class="nav-item" style="padding-left: 4px" *ngIf="isAuthenticated">
                <div class="logout">
                    <button (click)="onLogout()" type="button" class="btn btn-primary">Logout</button>
                </div>
            </li>
        </ul>
    </div>
</nav>

<hr>