.qwe:hover {
	cursor: pointer;
}

.home .today .qwe {
    cursor: pointer;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
}

.logout {
	float: right;
}

.active-link {
    border: 1px solid black;
}