<app-alert [message]="error" *ngIf="logStatusChanged"> </app-alert>

<nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">

    <a (click)="onNavigateHome()" class="navbar-brand">Zeta Strength</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="navbarsDefault"
        aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="home" (click)="onNavigateHome()">Homepage</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" (click)="onFetchData()">Fetch Data</a>
            </li>
            <li class="nav-item">
                <a class="qwe nav-link" (click)="onSaveData()">Save Data</a>
            </li>
            <li class="nav-item">
                <a class="qwe nav-link" (click)="onPatchMaxes()">Patch 1RM</a>
			</li>
			<li class="nav-item" style="padding-left: 4px">
				<div *ngIf="logStatus === true">
					<button (click)="toggleLogStatus()" type="button" class="btn btn-primary">Login</button>
				</div>
				<div *ngIf="logStatus === false">
					<button (click)="toggleLogStatus()" type="button" class="btn btn-primary">Logout</button>
				</div>
            </li>
        </ul>
    </div>
</nav>

<hr>
