<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div class="row">
        <div class="col">
          <button class="btn btn-secondary" (click)="onNavigateBack()">Back</button>
        </div>
        <div class="col">
          <button class="btn btn-danger" (click)="onDeleteExercise()">Delete Exercise</button>
        </div>
      </div>
      <hr>

      <form [formGroup]="setsForm" (ngSubmit)="onSubmit()">

        <!-- ---------------------------------------------------------------- -->

        <label for="exerciseName"> Exercise: </label>
        <input class="form-control" id="exerciseName" type="text" formControlName="exerciseName">

        <span class="help-block" *ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched">
          <span *ngIf="setsForm.get('exerciseName').errors['charLimit50']">
            Exercise name maximum 50 characters.
          </span>
          <span *ngIf="setsForm.get('exerciseName').errors['required']">
            Required.
          </span>
        </span>

        <hr>

        <!-- --------------------------------------------------------------- -->


        <label for="setType">Type of set:</label>
        <select [(ngModel)]="stringSetType" id="setType" class="form-control" formControlName="setType">
          <option value="mtor">MTOR</option>
          <option value="myo">Myo-fatigue</option>
          <option value="rpd">Rest-pause Double</option>
          <option value="cluster">Heavy Cluster</option>
          <option value="1rm">One-rep Max</option>
          <option value="regular">Regular ol' Sets</option>
        </select>

        <hr>

        <!-- --------------------------------------------------------------- -->

        <div class="row">
          <div class="col-sm-8">
            <h3> WARM-UP SETS </h3>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary" type="button">+</button>
          </div>
        </div>
        <hr>

        <!-- --------------------------------------------------------------- -->

        <div class="row">
          <div class="col-sm-8">
            <h3> {{ this.stringSetType | uppercase }} SETS</h3>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary" type="button" (click)="onAddSet()">+</button>
          </div>
        </div>

        <div *ngFor="let setFormGroup of setsForm.controls.sets.controls; let i = index" class="row">

          <div class="col form-group" [formGroup]="setFormGroup">

            <label for="weight"> Weight: </label>
            <input class="form-control" id="weight" type="number" formControlName="weight">

            <span class="help-block" *ngIf="!formToValidate(i, 'weight').valid && formToValidate(i, 'weight').touched">
              <span *ngIf="formToValidate(i, 'weight').errors['largeNumbers']">
                Liar.
              </span>
              <span *ngIf="formToValidate(i, 'weight').errors['required']">
                Required.
              </span>
            </span>

            <label for="reps"> Reps: </label>
            <input class="form-control" id="reps" type="number" formControlName="reps">

            <span class="help-block" *ngIf="!formToValidate(i, 'reps').valid && formToValidate(i, 'reps').touched">
              <span *ngIf="formToValidate(i, 'reps').errors['negativeNumbers']">
                Only positive numbers.
              </span>
              <span *ngIf="formToValidate(i, 'reps').errors['largeNumbers']">
                Less than 99.
              </span>
              <span *ngIf="formToValidate(i, 'reps').errors['required']">
                Required.
              </span>
            </span>
          </div>
          <div class="col">
            <button class="btn btn-danger" style="float: right;" (click)="onDeleteSet(i)">
              X
            </button>
          </div>

          <hr>

        </div>

        <!-- --------------------------------------------------------------- -->

        <div class="row">
          <!-- <div class="col-xs-3">
            <button class="btn btn-success" type="button" (click)="onAddSet()">Add Set</button>
          </div> -->
          <div class="col">
            <button class="btn btn-success" type="submit" [disabled]=!setsForm.valid>SUBMIT</button>
          </div>
        </div>

      </form>
      <br>

    </div>
  </div>
</div>