<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <div class="row">
        <div class="col">
          <button class="btn btn-secondary" (click)="onNavigateBack()">Back</button>
        </div>
        <div class="col">
          <button class="btn btn-danger" (click)="onDeleteExercise()">Delete Exercise</button>
        </div>
      </div>

      <hr>

      <form [formGroup]="setsForm" (ngSubmit)="onSubmit()">

        <!-- #region SET NAME ---------------------------------------------------->

        <mat-form-field appearance="outline">
          <mat-label>Exercise name</mat-label>
          <input id="exerciseName" type="text" formControlName="exerciseName" placeholder="ex. Deadlift" matInput
            [errorStateMatcher]="matcher">
          <mat-error
            *ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched && setsForm.get('exerciseName').errors['charLimit50']">
            Maximum 50 characters.
          </mat-error>
          <mat-error
            *ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched && setsForm.get('exerciseName').errors['required']">
            Required.
          </mat-error>
        </mat-form-field>

        <hr>
        <!-- #endregion -->

        <!--#region SET TYPES --------------------------------------------------->

        <mat-form-field appearance="fill">
          <mat-label>Set Type</mat-label>
          <mat-select [(value)]="stringSetType" formControlName="setType">
            <mat-option value="mtor">MTOR</mat-option>
            <mat-option value="myo">Myo-fatigue</mat-option>
            <mat-option value="rpd">Rest-pause Double</mat-option>
            <mat-option value="clusters">Heavy Cluster</mat-option>
            <mat-option value="1rm">One-rep Max</mat-option>
            <mat-option value="drop">Drop Set</mat-option>
            <mat-option value="regular">Regular ol'' Sets</mat-option>
          </mat-select>
        </mat-form-field>

        <hr>

        <!-- #endregion -->

        <!-- #region NOTES --------------------------------------------------->

        <mat-form-field appearance="outline" style="width: 350px;">
          <mat-label for="notesInput">Exercise notes</mat-label>
          <textarea class="form-control" formControlName="exerciseNotes" id="notesInput" rows="6" matInput> </textarea>
        </mat-form-field>
        <hr>

        <!-- #endregion --------------------------------------------------->

        <!-- #region WARM-UP SETS ------------------------------------------------>

        <div class="row">
          <div class="col-sm-8">
            <h3> WARM-UP SETS </h3>
          </div>
          <div class="col-sm-1">
            <button id="addWarmUpButton" class="btn btn-primary" type="button" (click)="onAddSet($event)">
              +
            </button>
          </div>
        </div>

        <div *ngFor="let warmupFormGroup of this.getWarmupSetControls(); let j = index" class="row">

          <div [formGroup]="warmupFormGroup" class="col">

            <mat-form-field>
              <mat-label> Weight </mat-label>
              <input matInput id="weight" type="number" formControlName="weight" [errorStateMatcher]="matcher">
              <mat-error *ngIf="WFTV(j, 'weight').errors['largeNumbers']">
                Liar.
              </mat-error>
              <mat-error *ngIf="WFTV(j, 'weight').errors['required']">
                Required.
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label> Reps </mat-label>
              <input matInput id="reps" type="number" formControlName="reps" [errorStateMatcher]="matcher">
              <mat-error *ngIf="WFTV(j, 'reps').errors['negativeNumbers']">
                Only positive numbers.
              </mat-error>
              <mat-error *ngIf="WFTV(j, 'reps').errors['largeNumbers']">
                Less than 99.
              </mat-error>
              <mat-error *ngIf="WFTV(j, 'reps').errors['required']">
                Required.
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col">
            <button class="btn btn-danger" style="float: right;" (click)="onDeleteWarmup(j)">
              X
            </button>
          </div>

          <hr>

        </div>

        <hr>

        <!-- #endregion --------------------------------------------------->

        <!-- #region MAIN SETS ------------------------------------------------------------------>

        <div class="row">
          <div class="col-sm-8">
            <h3> {{ this.stringSetType | uppercase }} SETS</h3>
          </div>
          <div class="col-sm-1">
            <button id="addSetButton" class="btn btn-primary" type="button" (click)="onAddSet($event)">+</button>
          </div>
        </div>

        <div *ngFor="let setFormGroup of this.getSetControls(); let i = index" class="row">


          <div class="col form-group" [formGroup]="setFormGroup">

            <!-- Weight -->
            <div class="row">
              <label for="weight"> Weight: </label>
              <input class="form-control" id="weight" type="number" formControlName="weight">
              <span class="help-block" *ngIf="!SFTV(i, 'weight').valid && SFTV(i, 'weight').touched">
                <span *ngIf="SFTV(i, 'weight').errors['largeNumbers']">
                  Liar.
                </span>
                <span *ngIf="SFTV(i, 'weight').errors['required']">
                  Required.
                </span>
              </span>
            </div>

            <!-- reps -->
            <div class="row">
              <label for="reps"> Reps: </label>
              <input class="form-control" id="reps" type="number" formControlName="reps">
              <span class="help-block" *ngIf="!SFTV(i, 'reps').valid && SFTV(i, 'reps').touched">
                <span *ngIf="SFTV(i, 'reps').errors['negativeNumbers']">
                  Only positive numbers.
                </span>
                <span *ngIf="SFTV(i, 'reps').errors['largeNumbers']">
                  Less than 99.
                </span>
                <span *ngIf="SFTV(i, 'reps').errors['required']">
                  Required.
                </span>
              </span>
            </div>

            <!-- #region Drop Sets -->
            <div *ngIf="this.stringSetType === 'drop'">
              <div style="margin: 20px">
                <div *ngFor="let dropSetFormGroup for getDropSetFormArray(i).controls; let dropSetIndex = index">
                  <div class="row form-group">
                    <div class="col-md-4">
                      <label for="dropSetWeight"> Weight: </label>
                      <input class="form-control" id="dropSetWeight" type="number"
                        formControl="this.getDropSetControl(dropSetFormGroup, 'weight')">
                    </div>
                    <div class="col-md-4">
                      <label for="dropSetReps"> Reps: </label>
                      <input class="form-control" id="dropSetReps" type="number"
                        formControl="this.getDropSetControl(dropSetFormGroup, 'reps')">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-danger" type=button (click)="deleteDropSet(i, dropSetIndex)">
                        X
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" type="button" (click)="addDropSet(i)">
                Add drop set
              </button>
            </div>
            <!-- #endregion -->

            <!-- #region Rest Pause Sets -->
            <div *ngIf="this.isRestPauseSet()">
              <div style="margin: 20px">
                <div *ngIf="this.getRestPauseFormArray(i)">
                  <div
                    *ngFor="let restPauseSetForm of this.getRestPauseFormArray(i).controls; let restPauseIndex = index">
                    <div class="row form-group">
                      <div class="col-md-6">
                        <input class="form-control" type="number" [formControl]="restPauseSetForm">
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-danger" type=button (click)="deleteRestPauseSet(i, restPauseIndex)">
                          X
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" type="button" (click)="addRestPauseSet(i)">
                Add rest/pause set
              </button>
            </div>
            <!-- #endregion --------------------------------------------------->

          </div>

          <!-- Reps -->
          <div class="col">
            <button class="btn btn-danger" style="float: right;" type="button" (click)="onDeleteSet(i)">
              X
            </button>
          </div>

        </div>

        <hr>

        <div class="row">
          <!-- <div class="col-xs-3">
            <button class="btn btn-success" type="button" (click)="onAddSet()">Add Set</button>
          </div> -->
          <div class="col">
            <button class="btn btn-success" type="submit" [disabled]=!setsForm.valid>SUBMIT</button>
          </div>
        </div>

        <!--#endregion --------------------------------------------------------------- -->

      </form>

      <br>

    </div>
  </div>
</div>