<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <div class="row">
        <div class="col">
          <button class="btn btn-secondary" (click)="onNavigateBack()">Back</button>
        </div>
        <div *ngIf="this.editMode" class="col">
          <button class="btn btn-danger" (click)="onDeleteExercise()">Delete Exercise</button>
        </div>
      </div>

      <hr>

      <form [formGroup]="setsForm" (ngSubmit)="onSubmit()">

        <!-- #region SET NAME ---------------------------------------------------->

        <mat-form-field appearance="outline">
          <mat-label>Exercise name</mat-label>
          <input id="exerciseName" type="text" formControlName="exerciseName" placeholder="ex. Deadlift" matInput>
          <mat-error
            *ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched && setsForm.get('exerciseName').errors['charLimit50']">
            Maximum 50 characters.
          </mat-error>
          <mat-error
            *ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched && setsForm.get('exerciseName').errors['required']">
            Required.
          </mat-error>
        </mat-form-field>

        <!-- <label for="exerciseName"> Exercise: </label>
        <input class="form-control" id="exerciseName" type="text" formControlName="exerciseName">
         -->

        <!-- <span class="help-block" *ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched">
          <span *ngIf="setsForm.get('exerciseName').errors['charLimit50']">
            Exercise name maximum 50 characters.
          </span>
          <span *ngIf="setsForm.get('exerciseName').errors['required']">
            Required.
          </span>
        </span> -->

        <hr>
        <!-- #endregion -->

        <!--#region SET TYPES --------------------------------------------------->

        <mat-form-field appearance="fill">
          <mat-label>Set Type</mat-label>
          <mat-select [(value)]="stringSetType" formControlName="setType">
            <mat-option value="mtor">MTOR</mat-option>
            <mat-option value="myo">Myo-fatigue</mat-option>
            <mat-option value="rpd">Rest-pause Double</mat-option>
            <mat-option value="clusters">Heavy Cluster</mat-option>
            <mat-option value="1rm">One-rep Max</mat-option>
            <mat-option value="drop">Drop Set</mat-option>
            <mat-option value="regular">Regular ol'' Sets</mat-option>
          </mat-select>
        </mat-form-field>


        <hr>

        <!-- #endregion -->

        <!-- #region NOTES --------------------------------------------------->

        <label for="notesInput">Exercise notes:</label>
        <textarea class="form-control" formControlName="exerciseNotes" id="notesInput" rows="6"> </textarea>
        <hr>

        <!-- #endregion --------------------------------------------------->

        <!-- #region WARM-UP SETS ------------------------------------------------>

        <div class="row">
          <div class="col-6">
            <h3> WARM-UP SETS </h3>
          </div>
          <div class="col-1">
            <button id="addWarmUpButton" class="btn btn-primary" type="button" (click)="onAddSet($event)">
              +
            </button>
          </div>
        </div>

        <table *ngIf="this.getWarmupSetControls().length > 0" class="table table-bordered">

          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Weight</th>
              <th scope="col">Reps</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let warmupFormGroup of this.getWarmupSetControls(); let j = index"
              [formGroup]="warmupFormGroup">

              <th scope="row"> {{ j }} </th>

              <td>
                <input class="form-control" id="weight" type="number" formControlName="weight">
                <span class="help-block" *ngIf="!WFTV(j, 'weight').valid && WFTV(j, 'weight').touched">
                  <span *ngIf="WFTV(j, 'weight').errors['largeNumbers']">
                    Liar.
                  </span>
                  <span *ngIf="WFTV(j, 'weight').errors['required']">
                    Required.
                  </span>
                </span>
              </td>

              <td>
                <input class="form-control" id="reps" type="number" formControlName="reps">
                <span class="help-block" *ngIf="!WFTV(j, 'reps').valid && WFTV(j, 'reps').touched">
                  <span *ngIf="WFTV(j, 'reps').errors['negativeNumbers']">
                    Only positive numbers.
                  </span>
                  <span *ngIf="WFTV(j, 'reps').errors['largeNumbers']">
                    Less than 99.
                  </span>
                  <span *ngIf="WFTV(j, 'reps').errors['required']">
                    Required.
                  </span>
                </span>
              </td>

              <td>
                <button class="btn btn-danger btn-sm" style="float: right;" (click)="onDeleteWarmup(j)">
                  X
                </button>
              </td>

            </tr>
          </tbody>
        </table>

        <hr>

        <!-- #endregion --------------------------------------------------->

        <!-- #region MAIN SETS ------------------------------------------------------------------>

        <div class="row">
          <div class="col-6">
            <h3> {{ this.stringSetType | uppercase }} SETS</h3>
          </div>
          <div class="col-1">
            <button id="addSetButton" class="btn btn-primary" type="button" (click)="onAddSet($event)">+</button>
          </div>
        </div>

        <table *ngIf="this.getSetControls().length > 0" class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Weight</th>
              <th scope="col">Reps</th>
            </tr>
          </thead>

          <tbody *ngFor="let setFormGroup of this.getSetControls(), let i = index" [formGroup]="setFormGroup">

            <tr>
              <th scope="row"> {{ i }} </th>

              <td>
                <input class="form-control" id="weight" type="number" formControlName="weight">
                <span class="help-block" *ngIf="!SFTV(i, 'weight').valid && SFTV(i, 'weight').touched">
                  <span *ngIf="SFTV(i, 'weight').errors['largeNumbers']">
                    Liar.
                  </span>
                  <span *ngIf="SFTV(i, 'weight').errors['required']">
                    Required.
                  </span>
                </span>
              </td>

              <td>
                <input class="form-control" id="reps" type="number" formControlName="reps">
                <span class="help-block" *ngIf="!SFTV(i, 'reps').valid && SFTV(i, 'reps').touched">
                  <span *ngIf="SFTV(i, 'reps').errors['negativeNumbers']">
                    Only positive numbers.
                  </span>
                  <span *ngIf="SFTV(i, 'reps').errors['largeNumbers']">
                    Less than 99.
                  </span>
                  <span *ngIf="SFTV(i, 'reps').errors['required']">
                    Required.
                  </span>
                </span>
              </td>

              <td class='row'>
                <button *ngIf="this.isRestPauseSet()" class="btn btn-primary btn-sm" type="button"
                  (click)="addRestPauseSet(i)">
                  +
                </button>
                <button class="btn btn-danger btn-sm" style="float: right;" type="button" (click)="onDeleteSet(i)">
                  x
                </button>
              </td>
            </tr>

            <tr *ngFor="let restPauseSetForm of this.getRestPauseFormArray(i).controls; let restPauseIndex = index">

              <th scope="row"> R/P </th>

              <td>
                {{ setFormGroup.controls.weight.value }}
              </td>

              <td>
                <input class="form-control" type="number" [formControl]="restPauseSetForm">
                <span class="help-block" *ngIf="!restPauseSetForm.valid && restPauseSetForm.touched">
                  <span *ngIf="restPauseSetForm.errors['negativeNumbers']">
                    Only positive numbers.
                  </span>
                  <span *ngIf="restPauseSetForm.errors['largeNumbers']">
                    Less than 99.
                  </span>
                  <span *ngIf="restPauseSetForm.errors['required']">
                    Required.
                  </span>
                </span>
              </td>

              <td>
                <button class="btn btn-danger btn-sm" type=button (click)="deleteRestPauseSet(i, restPauseIndex)">
                  x
                </button>
              </td>

            </tr>
          </tbody>
        </table>

        <!-- <div *ngFor="let setFormGroup of this.getSetControls(); let i = index" class="row">

          <div class="container row" [formGroup]="setFormGroup"> -->

        <!-- Weight -->
        <!-- <div class="col-4">
              <label for="weight"> Weight: </label>
              <input class="form-control" id="weight" type="number" formControlName="weight">
              <span class="help-block" *ngIf="!SFTV(i, 'weight').valid && SFTV(i, 'weight').touched">
                <span *ngIf="SFTV(i, 'weight').errors['largeNumbers']">
                  Liar.
                </span>
                <span *ngIf="SFTV(i, 'weight').errors['required']">
                  Required.
                </span>
              </span>
            </div> -->

        <!-- reps -->
        <!-- <div class="col-3">
              <label for="reps"> Reps: </label>
              <input class="form-control" id="reps" type="number" formControlName="reps">
              <span class="help-block" *ngIf="!SFTV(i, 'reps').valid && SFTV(i, 'reps').touched">
                <span *ngIf="SFTV(i, 'reps').errors['negativeNumbers']">
                  Only positive numbers.
                </span>
                <span *ngIf="SFTV(i, 'reps').errors['largeNumbers']">
                  Less than 99.
                </span>
                <span *ngIf="SFTV(i, 'reps').errors['required']">
                  Required.
                </span>
              </span>
            </div> -->

        <!-- #region Drop Sets -->
        <!-- <div *ngIf="this.stringSetType === 'drop'">
              <div style="margin: 20px">
                <div *ngFor="let dropSetFormGroup for getDropSetFormArray(i).controls; let dropSetIndex = index">
                  <div class="row form-group">
                    <div class="col-md-4">
                      <label for="dropSetWeight"> Weight: </label>
                      <input class="form-control" id="dropSetWeight" type="number"
                        formControl="this.getDropSetControl(dropSetFormGroup, 'weight')">
                    </div>
                    <div class="col-md-4">
                      <label for="dropSetReps"> Reps: </label>
                      <input class="form-control" id="dropSetReps" type="number"
                        formControl="this.getDropSetControl(dropSetFormGroup, 'reps')">
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-danger" type=button (click)="deleteDropSet(i, dropSetIndex)">
                        X
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" type="button" (click)="addDropSet(i)">
                Add drop set
              </button>
            </div> -->
        <!-- #endregion -->

        <!-- #region Rest Pause Sets -->
        <!-- <div *ngIf="this.isRestPauseSet()">
              <div style="margin: 20px">
                <div *ngIf="this.getRestPauseFormArray(i)">
                  <div
                    *ngFor="let restPauseSetForm of this.getRestPauseFormArray(i).controls; let restPauseIndex = index">
                    <div class="row form-group">
                      <div class="col-md-6">
                        <input class="form-control" type="number" [formControl]="restPauseSetForm">
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-danger" type=button (click)="deleteRestPauseSet(i, restPauseIndex)">
                          X
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-success" type="button" (click)="addRestPauseSet(i)">
                Add rest/pause set
              </button>
            </div> -->
        <!-- #endregion --------------------------------------------------->

        <!-- </div> -->

        <!-- Reps -->
        <!-- <div class="col-1">
            <button class="btn btn-danger" style="float: right;" type="button" (click)="onDeleteSet(i)">
              X
            </button>
          </div>

        </div> -->

        <hr>

        <div class="row">
          <!-- <div class="col-xs-3">
            <button class="btn btn-success" type="button" (click)="onAddSet()">Add Set</button>
          </div> -->
          <div class="col">
            <button class="btn btn-success" type="submit" [disabled]=!setsForm.valid>SUBMIT</button>
          </div>
        </div>

        <!--#endregion --------------------------------------------------------------- -->

      </form>

      <br>

    </div>
  </div>
</div>