<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

			<div class="row">
				<div class="col">
					<button class="btn btn-secondary" (click)="onNavigateBack()">Back</button>
				</div>
				<div *ngIf="this.editMode" class="col">
					<button class="btn btn-danger" (click)="onDeleteRoutine()">Delete Exercise</button>
				</div>
			</div>

			<hr>

			<form [formGroup]="routineForm" (ngSubmit)="onSubmit()">

				<!-- #region ROUTINE NAME ---------------------------------------------------->

				<mat-form-field appearance="outline">
					<mat-label>Routine name</mat-label>
					<input id="routineName" type="text" formControlName="routineName" placeholder="ex. 5-3-1"
						[(ngModel)]="routineName">
					<!-- <mat-error
						*ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched && setsForm.get('exerciseName').errors['charLimit50']">
						Maximum 50 characters.
					</mat-error>
					<mat-error
						*ngIf="!setsForm.get('exerciseName').valid && setsForm.get('exerciseName').touched && setsForm.get('exerciseName').errors['required']">
						Required.
					</mat-error> -->
				</mat-form-field>

				<hr>

				<!-- #endregion -->

				<!-- #region NOTES --------------------------------------------------->

				<div class="col">
					<div class="row">
						<mat-form-field appearance="outline" style="width: 350px;">
							<mat-label for="notesInput">Exercise notes</mat-label>
							<textarea class="form-control" formControlName="routineNotes" id="notesInput" rows="6"
								matInput [(ngModel)]="routineNotes"> </textarea>
						</mat-form-field>
					</div>
				</div>
				<hr>

				<!-- #endregion --------------------------------------------------->

				<!-- #region NUM CYCLES ------------------------------------------------------------------>

				<mat-form-field>
					<mat-label for="numCyclesInput">Number of weeks</mat-label>
					<input class="form-control" formControlName="numCycles" id="numCyclesInput" type="number"
						matInput [(ngModel)]="numCycles">
				</mat-form-field>

				<!-- #endregion ---------------------------------------------------------------------------->

				<!-- #region ROUTINE DAYS ------------------------------------------------------------------>

				<div class="row">
					<div class="col-1">
						<button mat-mini-fab (click)="onAddDay()" color="primary" aria-label="add set" type="button">
							<mat-icon>add</mat-icon>
						</button>
					</div>
				</div>

				<mat-accordion>
					<mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
						
						<mat-expansion-panel-header>
							<mat-panel-title>
								Squat Day 
							</mat-panel-title>
							<mat-panel-description>
								mat panel description
							</mat-panel-description>
							<mat-icon>fitness_center</mat-icon>
						</mat-expansion-panel-header>

						<mat-form-field>
							<mat-label>Exercise Name</mat-label>
							<input matInput>
						</mat-form-field>

						<!-- Other inputs here..? -->

						<mat-action-row>
							<button mat-button color="primary" (click)="nextStep()">Next</button>
						</mat-action-row>
					</mat-expansion-panel>


				</mat-accordion>

				<hr>

				<!--#endregion --------------------------------------------------------------- -->

				<div class="row">
					<div class="col">
						<button class="btn btn-success" type="submit" [disabled]=!routineForm.valid> SUBMIT </button>
					</div>
				</div>

			</form>

			<br>

		</div>
	</div>
</div>