<hr>

<h4>Workout for: {{ date }} </h4>
<div *ngFor="let exercise of exercises; let i = index" class="container" style="margin-top: 30px">

	<div class="row">
		<h4 style="margin-right: 10px;"(click)="onEditExercise(i)" class="exercise-title">{{ exercise.exerciseName }}</h4>
		<h4> ( {{ exercise.setType }} )</h4>
		<h4> ( recordMax = {{ getRecordMax(exercise.exerciseName) }} ) </h4>
	</div>

	<table class="table table-bordered">
		<thead class="thead-light">
			<tr>
				<th>Weight</th>
				<th>Reps</th>
				<th>Proportion of Effort</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let set of exercises[i].sets; let j = index ">
				<th>{{ set.weight }}</th>
				<th>{{ set.reps }}</th>
				<th> {{ set.percentEffort }} </th>
			</tr>
		</tbody>
	</table>
</div>

<hr>

<button class="btn btn-success" (click)="onNewExercise()">Add Exercise</button>
