<div class="container">
  
  <button (click)="qwe()">OH NO</button>
  <h4>Workout for: {{ date.toDateString() }}</h4>

  <mat-form-field>
    <mat-label>Bodyweight</mat-label>
    <input matInput type="number" min="1" max="999" [(ngModel)]="bodyweight" />
    <mat-hint align="start">Lbs. only.</mat-hint>
  </mat-form-field>

  <div
    *ngFor="let exercise of exercises; let i = index"
    class="container"
    style="margin-top: 30px; margin-left: 5px"
  >
    <div class="row">
      <h4
        style="margin-right: 10px"
        (click)="onEditExercise(i)"
        class="exercise-title"
      >
        {{ exercise.exerciseName }}
      </h4>
      <h4>( {{ exercise.setType }} )</h4>
      <h4 *ngIf="recordMaxArray[i]">( recordMax = {{ recordMaxArray[i] }} )</h4>
    </div>

    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Weight</th>
          <th>Reps</th>
          <th>Proportion of Record</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let set of exercises[i].sets; let j = index">
          <th>{{ set.weight }}</th>
          <th>{{ set.reps }}</th>
          <th>{{ set.percentEffort }}</th>
        </tr>
      </tbody>
    </table>
  </div>

  <hr />

  <button class="btn btn-success" (click)="onNewExercise()">
    Add Exercise
  </button>
  |
  <button
    class="btn btn-primary"
    (click)="onSaveWorkout()"
    [disabled]="!(getExercisesLength() > 0)"
  >
    Save Workout
  </button>
</div>
