/* .exercise-title {
	color: blue;
}

.exercise-title:hover {
	cursor: pointer;
	text-decoration: underline;
} */

#workout-day {
	justify-content: center;
	text-align: center;
}

.container {
	border: 2px solid grey;
	cursor: pointer;
	position:relative;
}

.row {
	padding: 0.5rem;
}

#edit-icon {
	position:absolute;right:0;top: -2px
}