<div class="container">
	<h1>What's up homie</h1>
	<div class="row">
		<div class="col">
			<h3>Pick a workout date</h3>
			<mat-form-field appearance="fill">
				<mat-label>Date</mat-label>

				<input matInput [matDatepicker]="dp" disabled (dateChange)="setSelectedDate($event)">
				<!-- ^ The dateChange property must be used in place of 'value'. For some reason, value doens't work. -->
				<!-- DateChange fires whenever a new date is chosen from the calendar. -->

				<mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
				<mat-datepicker #dp disabled="false" touchUi></mat-datepicker>
			</mat-form-field>
			<button class="btn btn-info" (click)="navigateToDate()" [disabled]=!selectedDate type="button">Go!</button>
		</div>
	</div>
</div>